<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOnesV7Zt27NXFooApmYm81iuXoPkFOJwJ8ERedskinLPMO" rel="stylesheet">
    <link href="/css/assets/owl.carousel.css" rel="stylesheet">
    <link href="/css/assets/owl.theme.default.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title>footer</title>
</head>
<body>
<footer class="footer_section">
    <div class="container">
        <div class="footer_inner text-center">
            Developed by Reza Rahmani
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
</body>
</html>